<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.heavy__job.HeavyJobProperty plugin="heavy-job@1.1">
      <weight>1</weight>
    </hudson.plugins.heavy__job.HeavyJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>dockercloud_rhel7.4</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export WS=`pwd`
source /home/test/.bashrc
#Install dependencies
sudo yum install -y git which java-1.8.0-openjdk-devel patch


###Build protobuf-3.5.1
      
      ###Install dependencies
    
        sudo yum install -y tar wget autoconf libtool automake gcc-c++ make git bzip2 curl unzip zlib zlib-devel 
        
        # get code 
        git clone https://github.com/google/protobuf.git
cd protobuf
git checkout v3.5.1

echo -e &apos;diff --git a/src/google/protobuf/stubs/atomicops_internals_generic_gcc.h b/src/google/protobuf/stubs/atomicops_internals_generic_gcc.h
index 0b0b06c..95f2338 100644
--- a/src/google/protobuf/stubs/atomicops_internals_generic_gcc.h
+++ b/src/google/protobuf/stubs/atomicops_internals_generic_gcc.h
@@ -146,6 +146,15 @@ inline Atomic64 NoBarrier_Load(volatile const Atomic64* ptr) {
   return __atomic_load_n(ptr, __ATOMIC_RELAXED);
 }

+inline Atomic64 Release_CompareAndSwap(volatile Atomic64* ptr,
+                                       Atomic64 old_value,
+                                       Atomic64 new_value) {
+  __atomic_compare_exchange_n(ptr, &amp;old_value, new_value, false,
+                              __ATOMIC_RELEASE, __ATOMIC_ACQUIRE);
+  return old_value;
+}
+
+
 #endif // defined(__LP64__)


 }  // namespace internal&apos; &gt; add_func.patch
 
patch $WS/protobuf/src/google/protobuf/stubs/atomicops_internals_generic_gcc.h &lt; add_func.patch

#Generate and then run the configuration
./autogen.sh &amp;&amp; ./configure 

#Build and test
make &amp;&amp; make check 

#Install Protobuf and verify the installation
sudo make install
export LD_LIBRARY_PATH=/usr/local/lib
export PATH=$PATH:/usr/local/bin
protoc --version

#########################################################

#Set env variables
export JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk
export LANG=&quot;en_US.UTF-8&quot;
export JAVA_TOOL_OPTIONS=&quot;-Dfile.encoding=UTF8&quot;
export _JAVA_OPTIONS=-Xmx30g
export JVM_ARGS=&quot;-Xms30g -Xmx30g&quot;

java -version

#########################################################



###Get geode source
cd $WS
rm -rf incubator-geode
rm -rf /home/test/.gradle
git clone https://github.com/apache/incubator-geode.git
cd incubator-geode/
git checkout rel/v1.6.0


mkdir -p /home/test/.gradle/caches/modules-2/files-2.1/com.google.protobuf/protoc/3.5.1
cp /usr/local/bin/protoc /home/test/.gradle/caches/modules-2/files-2.1/com.google.protobuf/protoc/3.5.1/protoc-3.5.1-linux-s390_64.exe


sudo -E sed -i &apos;37d&apos; $WS/incubator-geode/geode-protobuf-messages/build.gradle 
sudo -E sed -i &quot;44iorg.gradle.jvmargs = -Xss1g&quot; $WS/incubator-geode/gradle.properties
cd $WS/incubator-geode
git diff 

###Build
./gradlew build installDist -x test | tee build.log

###Test

./gradlew test 2&gt;&amp;1 | tee $WS/testlog

echo &quot;org.apache.geode.internal.process.NativeProcessUtilsTest &gt; isProcessAlive_livePid_returnsTrue FAILED
org.apache.geode.internal.process.NativeProcessUtilsTest &gt; isProcessAlive_deadPid_returnsFalse FAILED
org.apache.geode.internal.size.SizeClassOnceObjectSizerJUnitTest &gt; test FAILED
org.apache.geode.internal.size.WellKnownClassSizerJUnitTest &gt; testStrings FAILED
:geode-core:test FAILED
BUILD FAILED&quot; &gt;$WS/exp_failures

cat $WS/testlog | grep FAILED &gt;$WS/s390x_failures
cat $WS/s390x_failures
diff -u --ignore-all-space &lt;(sort $WS/s390x_failures) &lt;(sort $WS/exp_failures)
export PATH=$PATH:$WS/incubator-geode/geode-assembly/build/install/apache-geode/bin
gfsh 
ps -aef|grep geode</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.3.1">
      <script plugin="script-security@1.24">
        <script>import jenkins.model.Jenkins

def x=manager.envVars[&apos;NODE_NAME&apos;]
Jenkins.instance.slaves.each {
    if(it.name==x){
it.getComputer().doDoDelete()
    }
}</script>
        <sandbox>false</sandbox>
      </script>
      <behavior>0</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.2">
      <baseUrl></baseUrl>
      <teamDomain></teamDomain>
      <authToken></authToken>
      <authTokenCredentialId></authTokenCredentialId>
      <botUser>false</botUser>
      <room>#loz-jenkins-build,@srajmane</room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyRegression>false</notifyRegression>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <notifyRepeatedFailure>true</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <includeFailedTests>false</includeFailedTests>
      <commitInfoChoice>NONE</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>