<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.heavy__job.HeavyJobProperty plugin="heavy-job@1.1">
      <weight>1</weight>
    </hudson.plugins.heavy__job.HeavyJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>dockercloud_sles11-sp4</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 13 * * 4</spec>
    </hudson.triggers.TimerTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>H 13 * * 4</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rm -rf ./*
homedir=/home/test
#Install dependencies
sudo zypper install -y gcc gcc-c++ make ncurses patch wget tar bzip2 zlib-devel xz readline-devel wget-openssl1 curl-openssl1 sqlite-devel tk-devel libopenssl-devel ncurses-devel gdbm-devel openssl openssl-devel libdb-4_5-devel gdb awk glibc-debuginfo netcfg libbz2-devel awk netcfg libtool automake autoconf

#Create symlinks
sudo ln -sfv /usr/include/ncurses/* /usr/include/

#Build openssl
cd $homedir
sudo rm -rf openssl
git clone git://github.com/openssl/openssl.git
cd openssl
git checkout OpenSSL_1_0_2l	 
./config --prefix=/usr --openssldir=/usr/local/openssl shared
make
sudo make install
openssl version


export PATH=/usr/local/bin:$PATH
#export LDFLAGS=&quot;-L/usr/local/lib/&quot;
#export LD_LIBRARY_PATH=&quot;/usr/local/lib/&quot;
#export CPPFLAGS=&quot;-I/usr/local/include -I/usr/local/include/openssl&quot;
cat /etc/services

#Build curl
cd $homedir
sudo rm -rf curl
git clone git://github.com/curl/curl.git
cd curl
git checkout curl-7_52_1
./buildconf 
./configure --prefix=/usr/local --with-ssl --disable-shared
make &amp;&amp; sudo make install


export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib64
export PATH=/usr/local/bin:$PATH

#Generate ca-bundle.crt for curl

echo insecure &gt;&gt; $HOME/.curlrc
wget --no-check-certificate https://raw.githubusercontent.com/curl/curl/curl-7_53_0/lib/mk-ca-bundle.pl
perl mk-ca-bundle.pl -k

export SSL_CERT_FILE=`pwd`/ca-bundle.crt
rm  $HOME/.curlrc

export LDFLAGS=&quot;-L/usr/local/lib/&quot;
export LD_LIBRARY_PATH=&quot;/usr/local/lib/&quot;
export CPPFLAGS=&quot;-I/usr/local/include -I/usr/local/include/openssl&quot;




#Get source
wget http://www.python.org/ftp/python/2.7.15/Python-2.7.15.tar.xz
tar -xvf Python-2.7.15.tar.xz
cd Python-2.7.15

#Apply patch to fix test_regrtest
#wget https://github.com/python/cpython/pull/3912/commits/ab35adc682ec51800aa19a77de9947c6aaa50f41.diff
#cat ab35adc682ec51800aa19a77de9947c6aaa50f41.diff | patch -p1

#Build and test
./configure --prefix=/usr/local --exec-prefix=/usr/local
make 
make test 2&gt;&amp;1 | tee testlog

#Store failed tests
grep &quot;test test.*failed&quot; testlog | cut -d&quot; &quot; -f2-2 | uniq &gt;failures

#Store tests expected to fail and intermittent tests
echo &quot;test_gdb
test_ssl
test_gdb
test_ssl &quot; &gt;expected

#Diff between expected and actual failures
diff -u --ignore-all-space expected failures | tee diff_

#Fail if any extra test failed apart from expected
if grep -q &apos;+test&apos; diff_; then
    exit 1
fi

#Run intermittent tests individually
#cd ./Lib/test
#../../python -m unittest test_ssl



#Install
#cd ../../
#./python Lib/test/regrtest.py -v test_ssl
#./python Lib/test/regrtest.py -v test_gdb
sudo make install
python_version=$(python --version 2&gt;&amp;1)

echo $python_version &gt; output.txt

echo &apos;Python 2.7.14&apos; &gt; expected.txt
result=`diff output.txt expected.txt`

if [ -z &quot;$result&quot; ] ; then
  exit 0
else
  exit 1
fi

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.3.1">
      <script plugin="script-security@1.24">
        <script>import jenkins.model.Jenkins

def x=manager.envVars[&apos;NODE_NAME&apos;]
Jenkins.instance.slaves.each {
if(it.name==x){
it.getComputer().doDoDelete()
}
}</script>
        <sandbox>false</sandbox>
      </script>
      <behavior>0</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.2">
      <baseUrl></baseUrl>
      <teamDomain></teamDomain>
      <authToken></authToken>
      <authTokenCredentialId></authTokenCredentialId>
      <botUser>false</botUser>
      <room>#loz-jenkins-build,@duaned</room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyRegression>false</notifyRegression>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <notifyRepeatedFailure>true</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <includeFailedTests>false</includeFailedTests>
      <commitInfoChoice>NONE</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>