<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.heavy__job.HeavyJobProperty plugin="heavy-job@1.1">
      <weight>1</weight>
    </hudson.plugins.heavy__job.HeavyJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>dockercloud_sles11-sp4</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 13 * * 1</spec>
    </hudson.triggers.TimerTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>H 13 * * 1</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
 #Set the below parameters manually
package_name=&quot;ansible&quot;
published_version=&quot;2.6.1&quot;

#Check distro and available version in repo : rhel7.x, Sles11.x/12.x, Ub16.x/17.x 
. /etc/os-release
if [ $ID == &quot;rhel&quot; ]; then
	available_version=$(sudo yum info $package_name | grep Version | head -1 | cut -d &apos;:&apos; -f 2| cut -d &apos; &apos; -f 2)
elif [ $ID == &quot;sles&quot; ]; then
	available_version=$(sudo zypper info $package_name | grep Version | head -1 | cut -d &apos;:&apos; -f 2| cut -d &apos; &apos; -f 2)
elif [ $ID == &quot;ubuntu&quot; ]; then
	available_version=$(sudo apt-get update &amp;&amp; sudo apt-cache policy $package_name | grep Candidate | head -1 | cut -d &apos; &apos; -f 4)
fi


if [[ $available_version == *&quot;$published_version&quot;* ]]; then
	echo &quot;Version $published_version is already available in repo&quot;
    echo &quot;Exact name: $available_version ... Failing&quot;
    exit 1
else	
   echo &quot;Published version is not available in repo. Going ahead.&quot;     
fi
#-------------------------------------------------------------------------------------

export Ansible_home=`pwd`
#Install dependencies
cat /etc/os-release
sudo zypper update -y
sudo zypper install -y git tar bzip2 unzip make autoconf net-tools wget wget-openssl1 curl-openssl1 libxslt-devel gcc openssl libopenssl-devel libffi-devel patch ncurses ncurses-devel xz python-setuptools awk automake libtool
#Build openssl
cd $homedir
sudo rm -rf openssl
git clone git://github.com/openssl/openssl.git
cd openssl
git checkout OpenSSL_1_0_2l	 
./config --prefix=/usr --openssldir=/usr/local/openssl shared
make
sudo make install
openssl version


#Build curl
cd $homedir
sudo rm -rf curl
git clone git://github.com/curl/curl.git
cd curl
git checkout curl-7_52_1
./buildconf 
./configure --prefix=/usr/local --with-ssl --disable-shared
make &amp;&amp; sudo make install


export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib64
export PATH=/usr/local/bin:$PATH

#Generate ca-bundle.crt for curl

echo insecure &gt;&gt; $HOME/.curlrc
wget --no-check-certificate https://raw.githubusercontent.com/curl/curl/curl-7_53_0/lib/mk-ca-bundle.pl
perl mk-ca-bundle.pl -k
export SSL_CERT_FILE=`pwd`/ca-bundle.crt
rm  $HOME/.curlrc

export LDFLAGS=&quot;-L/usr/local/lib/&quot;
export LD_LIBRARY_PATH=&quot;/usr/local/lib/&quot;
export CPPFLAGS=&quot;-I/usr/local/include -I/usr/local/include/openssl&quot;

# Python 2.7.14
cd $Ansible_home
sudo zypper install -y gcc gcc-c++ make ncurses patch wget tar bzip2 zlib-devel xz readline-devel wget-openssl1 curl-openssl1 sqlite-devel tk-devel libopenssl-devel ncurses-devel gdbm-devel openssl openssl-devel libdb-4_5-devel gdb awk glibc-debuginfo glibc glibc-devel glibc-debugsource netcfg libbz2-devel awk netcfg libtool automake autoconf

#Create symlinks
sudo ln -sfv /usr/include/ncurses/* /usr/include/


wget http://www.python.org/ftp/python/2.7.15/Python-2.7.15.tar.xz
tar -xvf Python-2.7.15.tar.xz
cd Python-2.7.15


#fix for test_ssl
sed -i  &apos;992i \ \ \ \ \ \ \ \ filename = u&quot;dhparam.pem&quot;&apos; Lib/test/test_ssl.py \
&amp;&amp; sed -i  &apos;993i \ \ \ \ \ \ \ \ fs_encoding = sys.getfilesystemencoding()&apos; Lib/test/test_ssl.py \
&amp;&amp; sed -i  &apos;994i \ \ \ \ \ \ \ \ try:&apos; Lib/test/test_ssl.py \
&amp;&amp; sed -i  &apos;995i \ \ \ \ \ \ \ \ \ \ \ \ filename.encode(fs_encoding)&apos; Lib/test/test_ssl.py \
&amp;&amp; sed -i  &apos;996i \ \ \ \ \ \ \ \ except UnicodeEncodeError:&apos; Lib/test/test_ssl.py \
&amp;&amp; sed -i  &apos;997i \ \ \ \ \ \ \ \ \ \ \ \ self.skipTest(&quot;filename %r cannot be encoded to the filesystem encoding %r&quot; % (filename, fs_encoding))&apos; Lib/test/test_ssl.py \
&amp;&amp; sed -i  &apos;1010d&apos; Lib/test/test_ssl.py \
&amp;&amp; sed -i  &apos;1010i \ \ \ \ \ \ \ \ \ \ \ \ fname = os.path.join(d, filename)&apos; Lib/test/test_ssl.py

#fix for test_locale
export LC_ALL=C

#Build and test
./configure --prefix=/usr/local --exec-prefix=/usr/local
make
sudo make install
export PATH=/usr/local/bin:$PATH
sudo /usr/sbin/update-alternatives --install /usr/bin/python python /usr/local/bin/python 10
sudo /usr/sbin/update-alternatives --display python

python -V
python -c &quot;import ssl; print(ssl.OPENSSL_VERSION)&quot;

# Install pip
sudo python -m ensurepip 
sudo python -m pip install --upgrade pip


#Install ansible
sudo pip install -U cffi&gt;=1.7
sudo python -m pip install ansible  

#Verify
ansible --version</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@2.3.1">
      <script plugin="script-security@1.24">
        <script>import jenkins.model.Jenkins

def x=manager.envVars[&apos;NODE_NAME&apos;]
Jenkins.instance.slaves.each {
    if(it.name==x){
it.getComputer().doDoDelete()
    }
}</script>
        <sandbox>false</sandbox>
      </script>
      <behavior>0</behavior>
      <runForMatrixParent>false</runForMatrixParent>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.2">
      <baseUrl></baseUrl>
      <teamDomain></teamDomain>
      <authToken></authToken>
      <authTokenCredentialId></authTokenCredentialId>
      <botUser>false</botUser>
      <room> #loz-jenkins-build,@ajakhade</room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyRegression>false</notifyRegression>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <notifyRepeatedFailure>true</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <includeFailedTests>false</includeFailedTests>
      <commitInfoChoice>NONE</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>